
 
 /*NAVBAR STYLING === */
    nav {
      background-color:silver; /* dark background */
      color: rgb(255, 179, 94);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 200px;
      font-family: Arial, sans-serif;
      position: fixed;
      top: 0;
      width: 80%;
      z-index: 1000;  
  
    }

    nav .logo {
      font-size: 1.4em;
      font-weight: bold;
      letter-spacing: 1px;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 25px;
      margin: 0;
      padding: 25px;

    }

    nav ul li a {
      color: white;
      text-decoration: none;
      font-weight: 500;
      transition: color 1s;
    }

    nav ul li a:hover {
      color: rgb(255, 179, 94); /* highlight color */
    }

body {
    
   #home {
  background: url("city gif.gif") no-repeat center center/cover;
  height: 100vh;              /* full viewport height */
  width:100 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  text-align: center;
  }
  /* optional: dark overlay to make text readable */
#home .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  #about {
height: 30vh;
/* changes gap between about and education*/
display: flex;
max-width: 1200px;
width: 100%;
padding-left: 40px;
margin-bottom: 25vh;}


#about img {
  width: 300px;
  height: 410px;
  padding: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Education */
.education-item{
  background-color: #f1f1f1;
  margin: 10px;
  margin-right: 20vh;
  padding: 10px;
  font-size: 24px;
}
.education .heading {
margin-left: 20vh;
}
.education-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}


#projects {
      
      margin-top: 10vh;
}
#projects {
  display: flex;
  flex-direction: row; /* stacked vertically */
  align-items: center;
  gap: 20px;
  padding: 40px 0px;
}

.project-item {
  background-color: #f1f1f1;
  color: black;
  padding: 0px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 60%;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}
.project-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}
}

body {

    color: rgb(255, 179, 94);
    background-color: grey;
    
    }

section h1 {
  background-color:#111;
  color: rgb(255, 255, 255);
  padding: 60px 40px;
  margin: 20px 0;
}

.section h2 {
  font-size: 0;
}

footer a{
  color: white;
  
}
footer a:hover{
  color: rgb(255, 179, 94);
  transition: color 1s;
  
}
   